/* Shutter */
#shDisplay #shNext a, #shDisplay #shPrev a {
	display: block; width: 68px; height: 100%; position: absolute; top: 0; right: 0; background: url(../images/arrowd.png) no-repeat -31px 50%;
}

#shDisplay #shPrev a {
	width: 56px; right: auto; left:0; background-position: 25px 50%;
}
a#shX { display: block; width: 31px; text-align: center; padding: 27px 20px 12px 0; text-decoration: none; color: #333; font-weight: bold; font-size: 16px; position: absolute; top: 0; right: 0; }
body {
	height: 100%;
}

#shShutter *, #shDisplay * {
	padding: 0;
	margin: 0;
}

div#shShutter, div#shDisplay {
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
}

div#shShutter {
	height: 100%;
	z-index: 1000;
	background-color: #000000;
	opacity: 0.8;
	filter:alpha(opacity=80);
}

div#shDisplay {
	display: block;
	background-color: transparent;
	z-index: 1002;
	width: 702px;
	left: 50%;
	margin-left: -351px;
}

div#shDisplay img#shTopImg {
	margin: 0 auto;
	border: none;
	background: transparent;
	display: block;
	max-width: 644px;
	max-height: 436px;
	float: none;
	padding:0;
}

div#shDisplay div#shWrap {
	visibility: hidden; display: block; width: 644px; height: 436px; padding: 40px 35px 23px 23px; position: relative; background: url(../images/pop.png) no-repeat 0 0; margin: 0 auto;
}

div#shWaitBar {
	font: bold 32px Arial;
	height: 36px;
	width: 100%;
	left: 0;
	cursor: default;
	opacity: 0.999;
	filter: alpha(opacity=100);
	z-index: 1001;
	margin-top: 160px;
	color: #ae0a0a;
}